@font-face {
    font-family: Roboto;
    src: url("../fonts/roboto/Roboto-Medium.ttf");
}

@font-face {
    font-family: Montserrat;
    src: url("../fonts/montserrat/Montserrat-Regular.otf");
}

@font-face {
    font-family: Montserrat-Bold;
    src: url("../fonts/montserrat/Montserrat-Bold.otf");
}

@font-face {
    font-family: Montserrat-Light;
    src: url("../fonts/montserrat/Montserrat-Light.otf");
}

body {
    font-family: Roboto;
}

.small-ads {
    font-size: 12px;
    margin-left: 5px;
    color: #6F6F6F;
    width: 100%;
}

.nv-top-menu {
    border-bottom: 1px solid #eee;
}

.nv-space-icon {
    margin-right: 10px;
    font-size: 18px;
}

.nv-bookmark {
    font-size: 24px;
    color: #07ACE4;
}

.navbar-toggle {
    border: 1px solid #07ACE4;
}

.nv-top-info {
    margin-right: 10px;
    font-size: 15px;
}

.navbar-toggle .icon-bar {
    border: 1px solid;
    color: #07ACE4;
}

.nv-header {
    border-bottom: 1px solid #dedede;
    min-height: 100px;
    margin-bottom: 20px;
}

#nv-menu {
    margin-top: 25px;
}

#nv-menu li a {
    color: #6F6F6F;
    font-size: 16px;
}

@media (min-width: 741px) {
    .mn-body-panel2{
        display: inline;
    }
    .mn-body-panel2-mobile{
        display: none;
    }
}

@media (max-width: 740px) {
    .mn-body-panel2{
        display: none;
    }
    .mn-body-panel2-mobile{
        display: inline;
        text-align: center;
    }
    .mn-body-panel2-mobile > div{
        margin: 30px 0px;
    }
}

@media (max-width: 992px) {
    .nv-top-menu{
        display: none;
    }
    .nv-three-menus-display{
        display: inline;
    }
}

@media (min-width: 993px) {
    .nv-three-menus-display{
        display: none !important;
    }
}

@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-left, .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
        border-bottom: 1px solid #ccc;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in {
        display: block !important;
    }
}

button.navbar-toggle {
    margin-top: 30px;
}

.mn-body {
    margin: 5px;
}

.mn-body-panel2 {
    margin-top: 75px;
    height: 200px;
}

.mn-body-panel2>div {
    display: inline-block;
    vertical-align: bottom;
    float: none;
    text-align: center;
}

.mn-body-panel2>.col-md-4>img {
    margin-bottom: 20px;
}

.mn-title-left-panel1 {
    margin-top: 20px;
    font-family: Montserrat-Bold;
    font-size: 36px;
    color: #4C4C4C;
}

.mn-subtitle-left-panel1 {
    margin-top: 10px;
    font-family: Montserrat-Light;
    font-size: 30px;
    color: #4C4C4C;
}

.mn-list-left-panel1 {
    margin-top: 10px;
    font-family: Montserrat-Light;
    font-size: 18px;
    color: #666;
    line-height: 40px;
}

.mn-list-left-panel1 li i {
    color: #61B855;
    font-size: 24px;
    margin-right: 5px;
}

#mn-image-right-panel1 {
    margin-top: 10px;
}

.mn-caption-panel2 {
    margin-top: 10px;
    font-family: Montserrat-Light;
    font-size: 18px;
    color: #666;
    line-height: 40px;
}